$color_bg:#F5F5F5;
$color_needle:#E6E6E6;
$color_font-main:#6f8086;
$color_font-sub:#fff;
$color_font-dark:#B7C0C3;
$color_text_shadow: rgba(245, 245, 245, 0.502);
$font_ja:'Kiwi Maru';
$font_en:'Nunito';
$font_en_italic:'Nunito-italic';
$font_clock:"Staatliches";
$height_vh: calc(var(--vh, 1vh) * 100);